 <div class="row">
 <ngb-carousel showNavigationArrows="true"
 interval="1000"
 pauseOnHover="false">
  <ng-template ngbSlide>
    <img src="../../assets/images/1.jpg" alt="Delhi Metro" style="width:100%; height:400px;">
    <div class="carousel-caption">
    </div>
  </ng-template>
  <!-- <ng-template ngbSlide>
      <img src="../../assets/images/2.jpg" alt="Delhi Metro" style="width:100%; height:400px;">
    <div class="carousel-caption">
    </div>
  </ng-template> -->
</ngb-carousel>
</div>
