
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Music University</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Classes</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">Teachers</a></li>
          <li><a href="#">My Calendar</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
        <a href="#" class="profile"><i class="fa fa-user fa-lg profile" aria-hidden="true"> {{user.firstName}} {{user.lastName}}</i></a>

    </div>
</nav>
