<h2>Login</h2>
<form class="entry-form">
    <div class="input-group">
        <div class="input-title">Username</div>
        <input id='login-username' type="text" name="username" class="form-control" [(ngModel)]="username" autocomplete="on" required
            autofocus>
    </div>

    <div class="input-group">
        <div class="input-title">Password</div>
        <input id='login-password' type="password" name="password" class="form-control" [(ngModel)]="password" autocomplete="on" required>
    </div>
</form>
