<div class="main-container" *ngIf="isLogin">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="login col-md-6">
      <h2>Log In</h2>
      <form class="entry-form">
        <div *ngIf="isError" class="error-message">
          <span>Username or Password is incorrect</span>
        </div>
          <div class="form-group">
              <div class="input-title col-md-3">
                  <label for="login-username">Username</label>
              </div>
              <div class="col-md-9">
                  <input type="text" class="form-control input-lg" id="login-username" placeholder="Enter Username"
                   [(ngModel)]="username" required autofocus [ngModelOptions]="{standalone: true}">
              </div>
          </div>
          <div class="form-group">
              <div class="input-title col-md-3">
                <label for="login-username">Password</label>
              </div>
              <div class="col-md-9">
                <input id='login-password' type="password" name="password" class="form-control input-lg" [(ngModel)]="password"
                placeholder="Enter Password" required autofocus [ngModelOptions]="{standalone: true}">
              </div>
            </div>

          <div class="input-group">
              <div class="input-title col-md-4">
                <button type="button" class="btn btn-default btn-lg"  (click)="onLogin()">Log In</button>
              </div>
              <div class="col-md-8">
                <div class="signup"><a href="#signup">Create A New Account</a></div>
              </div>
        </div>
      </form>
    </div>
    <div class="col-md-3"></div>
</div>
</div>
