<h2>Login</h2>
<form class="entry-form">
    <div class="input-group">
        <div class="input-title">Username</div>
        <input id='login-username' type="text" name="username" class="form-control" autocomplete="on" required
            autofocus>
    </div>

    <div class="input-group">
        <div class="input-title">Password</div>
        <input id='login-password' type="password" name="password" class="form-control" autocomplete="on" required>
        <!-- [(ngModel)]="password" -->
    </div>
    <div class="login-block">
        <span class="forgot-password pull-left">
            <u>
                <a id='login-forgot-password' (click)="onForgotPasswordClicked()">
                    Forgot your password?
                </a>
            </u>
        </span>
        <button id='login-submit' class="btn btn-default pull-right" [disabled]='isLoading' type="submit"
            (click)="onLogin()">
            <span *ngIf="!isLoading">Log in</span>
            <span *ngIf="isLoading">
                <i class="fa fa-circle-o-notch fa-spin"></i>
            </span>
        </button>
    </div>
</form>