.carousel-style{
  height: 300px;
}

.main {
  font-size: 28px;
  padding: 0px 10px;
  padding-top: 20px;
  height: 100%;
  text-indent: 50px;
}

.sidebar {
  position: fixed;
  right: 0;
  padding: 0px 10px;
  margin-top: 20px;
  padding-top: 20px;
  background-color: #ebebeb;
  height: 100%;
  text-indent: 30px;
}
