@import '~bootstrap/dist/css/bootstrap.min.css';

@import '~font-awesome/css/font-awesome.min.css';


.row {
  margin-top: -20px;
}

.main-container {
  background-image: url("./assets/images/main-background.jpg");
  height: 800px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}
